# Byte-compiled / optimized / DLL files
pycache/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.venv/Lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Jupyter Notebooks
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Local env files
.env
.env.*

# IntelliJ-specific (Default ignored files)
shelf/
workspace.xml
